<h2><%= @user.first_name%>'s Playlist</h2>

<table>
	<thead>
		<tr>
			<th>Artist</th>
			<th>Title</th>
			<th>Times Added</th>
		</tr>
	</thead>
	<tbody>
    <% @adds.each do |a| %>
        <tr>
          <td><%= a.artist %></td>
          <td><%= a.title %></td>
          <td><%= @songs.where(user_id:@user.id, song_id:a.id).count %></td>
        </tr>
        <% end %>
		<!-- <% @user.songs_added.group(:id).select("songs.*, count(songs.artist)").each do |s| %>
    <% if @songs %>
    <% @songs.each do |song| %>
    <%= song.title %>
    <%= song.artist %>
  <% end %>
<% else %>
  No Songs
<% end %>
			<tr>
				<td><%= s.artist%></td>
				<td><%= s.title%></td>
				<td><%= s.count%></td>
			</tr>
		<% end %> -->
	</tbody>

</table>
